@import 'src/assets/scss/variables/colors';

.category-small-post {
    .image {
        height: 100px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        transition: all 0.3s;
    }

    &:hover {
        .title {
            color: $color-red;
        }
    }
}