<div class="users p-3">
  <app-page-label [label]="'Users'"></app-page-label>

  <div class="users-wrapper mt-3 ms-3">
    <div class="row top-label p-2">
      <div class="col-3 m-0 p-0">
        <p class="m-0 p-0 fw-bold">Name</p>
      </div>
      <div class="col-3 m-0 p-0">
        <p class="m-0 p-0 fw-bold">Email</p>
      </div>
      <div class="col-2 m-0 p-0">
        <p class="m-0 p-0 fw-bold">Username</p>
      </div>
      <div class="col-2 m-0 p-0">
        <p class="m-0 p-0 fw-bold">Date joined</p>
      </div>
      <div class="col-2 m-0 p-0">
        <p class="m-0 p-0 fw-bold">Status</p>
      </div>
    </div>

    <div class="w-100 mt-2" *ngFor="let user of users">
      <app-user [user]="user"></app-user>
    </div>
  </div>
</div>