<div class="bg-dark w-100">
  <div class="w-75 mx-auto py-3">
    <div class="top border-bottom-1 border-white w-100 d-flex justify-content-between align-items-center">
      <h1 class="logo text-white">news <span class="text-danger">.MK</span></h1>

      <div class="social-media d-flex justify-content-end align-items-center gap-3">
        <a class="social-media-item" href="#"><img src="assets/icons/facebook-brands.svg" alt=""></a>
        <a class="social-media-item" href="#"><img src="assets/icons/instagram-brands.svg" alt=""></a>
        <a class="social-media-item" href="#"><img src="assets/icons/twitter-brands.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>
