@import 'src/assets/scss/variables/colors';

.single-item {
    .menu-label {
        color: #000000;
        background-color: $color-gray;
    }
    .menu-item {
        transition: all 0.3s;

        &:hover {
            background-color: $color-purple;
        }
    }
    .menu-item.active {
        background-color: $color-purple;
    }
}